{% extends "layout.html" %}

{% block title %}Add Schedule for {{ name }}{% endblock %}

{% block content %}
<h2>Add Schedule for {{ name }}</h2>

<form method="POST" action="{{ url_for('add_schedule', plugID=plugID) }}">
    <div class="mb-3">
        <label for="shour" class="form-label">Hour</label>
        <input type="number" class="form-control" id="shour" name="shour" min="0" max="23" required>
    </div>
    <div class="mb-3">
        <label for="sminute" class="form-label">Minute</label>
        <input type="number" class="form-control" id="sminute" name="sminute" min="0" max="59" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Repeat</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="Sun" name="srepeat" value="Sun">
            <label class="form-check-label" for="Sun">Sun</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="Mon" name="srepeat" value="Mon">
            <label class="form-check-label" for="Mon">Mon</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="Tue" name="srepeat" value="Tue">
            <label class="form-check-label" for="Tue">Tue</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="Wed" name="srepeat" value="Wed">
            <label class="form-check-label" for="Wed">Wed</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="Thu" name="srepeat" value="Thu">
            <label class="form-check-label" for="Thu">Thu</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="Fri" name="srepeat" value="Fri">
            <label class="form-check-label" for="Fri">Fri</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="Sat" name="srepeat" value="Sat">
            <label class="form-check-label" for="Sat">Sat</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="snewStatus" class="form-label">On/Off</label>
        <select class="form-select" id="snewStatus" name="snewStatus" required>
            <option value="On">On</option>
            <option value="Off">Off</option>
        </select>
    </div>
    <div class="d-flex float-end">
        <a href="{{ url_for('schedules', plugID=plugID) }}" class="btn btn-secondary me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
              </svg>
        </a>
        <button type="submit" class="btn btn-primary ms-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
            </svg>
        </button>
    </div>
</form>
{% endblock %}
