{% extends "layout.html" %}

{% block title %}Configure Devices{% endblock %}

{% block content %}
    <h3>Configure Devices</h3><br>

    <div id="errorMessage" class="alert alert-danger" style="display: none;">
        Please check the GPIO values. Each GPIO value must be unique.
    </div>

    <form method="POST" action="{{ url_for('setup') }}" onsubmit="return validateGpioValues()">
        <h5>Number of Devices: </h5>
        <select id="numDevices" name="num_devices" class="form-select" onchange="displayGpioFields()" required>
            <option value="" selected>Select...</option>
            {% for i in range(1, 27) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>

        <!-- Container for the table of devices and GPIO inputs -->
        <div id="gpioTableContainer" style="display: none;">
            <table class="table mt-3">
                <thead>
                    <tr class="align-middle">
                        <th class="text-center" scope="col">Device</th>
                        <th class="text-center" scope="col">GPIO</th>
                    </tr>
                </thead>
                <tbody id="gpioContainer">
                    <!-- Dynamic rows will be added here -->
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary float-end">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                </svg>
            </button>
        </div>
        

    </form>

    <script>
        function displayGpioFields() {
            const numDevices = document.getElementById('numDevices');
            const selectedValue = numDevices.value;
            const tableContainer = document.getElementById('gpioTableContainer');
            const container = document.getElementById('gpioContainer');
            container.innerHTML = '';

            // Show the table only if a valid number is selected
            if (selectedValue) {
                tableContainer.style.display = 'block';
                numDevices.options[0].disabled = true;
            } else {
                tableContainer.style.display = 'none';
                numDevices.options[0].disabled = false;
            }

            // Display GPIO input fields based on the selected number of devices
            for (let i = 1; i <= selectedValue; i++) {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td class="text-center">P${i.toString().padStart(2, '0')}</td>
                    <td class="text-center"><input type="number" name="gpio_${i}" min="2" max="26" required class="form-control"></td>
                `;
                container.appendChild(row);
            }
        }

        function validateGpioValues() {
            const gpioInputs = document.querySelectorAll('[name^="gpio_"]');
            const gpioValues = Array.from(gpioInputs).map(input => input.value);
            const uniqueValues = new Set(gpioValues);

            // Check for duplicate values
            if (uniqueValues.size !== gpioValues.length) {
                document.getElementById("errorMessage").style.display = "block"; // Show error message
                return false; // Prevent form submission
            } else {
                document.getElementById("errorMessage").style.display = "none"; // Hide error message if no duplicates
                return true; // Allow form submission
            }
        }
    </script>
    
{% endblock %}
